@{
    ViewData["Title"] = "Home Page";
}

<div>
  <div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="img/Inicio.png" alt="Banner Adote Amor" width="1100" height="500">

      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <!--Adotar-->
    <div class="col-sm-6">
        <a href="Animal/Listar" class="btn btn-warning btn-block">Adotar</a>
    </div>
    <!--Doar-->
    <div class="col-sm-6">
        <a href="Animal/Cadastrar" class="btn btn-info btn-block">Doar</a>
    </div>
  </div>

</div>